<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="FbnMockDBConString" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=172.16.250.135)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=FBNMOCK)));User Id=custom;Password=custom;"
      providerName="Oracle.ManagedDataAccess" />
  </connectionStrings>
  <appSettings>
    <add key="smsappcode" value="TestApp"/>
    <add key="reportslog" value="C:\Tier1And2BalanceEnforcementLogs\Report status logs"/>
    <add key="lastpicked" value="C:\Tier1And2BalanceEnforcementLogs\Text Files"/>
    <add key="MigrationSuccessReport" value="C:\Tier1And2BalanceEnforcementLogs\Migrated accounts report"/>
    <add key="MigrationFailedReport" value="C:\Tier1And2BalanceEnforcementLogs\Unmigrated accounts report"/>
    <add key="EventLogs" value="C:\Tier1And2BalanceEnforcementLogs\Event Logs"/>
    <add key="ErrorLogs" value="C:\Tier1And2BalanceEnforcementLogs\Error Logs"/>
    <add key="DetailsLogs" value="C:\Tier1And2BalanceEnforcementLogs\Details Logs"/>
    <add key="EmailNotifyStatusLogs" value="C:\Tier1And2BalanceEnforcementLogs\Email Notification status Logs"/>
    <add key="SMSNotifyStatusLogs" value="C:\Tier1And2BalanceEnforcementLogs\SMS Notification status Logs"/>
    <add key="SMTPsvr" value="172.16.26.187"/>
    <add key="SMTPpwd" value="password2$"/>
    <add key="SMTPusr" value="firstalert"/>
    <add key="SMTPPort" value="25"/>
    <add key="lastpickedfile" value="C:\Tier1And2BalanceEnforcementLogs\Text Files\LastPicked.txt"/>
    <add key="email1" value="SN027053@firstbanknigeria.com"/>
    <add key="email2" value="SN027053@firstbanknigeria.com"/>
    <add key="email3" value="SN027053@firstbanknigeria.com"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://172.16.249.199/FbnAlertWS/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
        contract="FbnAlertWS.IService" name="BasicHttpBinding_IService" />
    </client>
  </system.serviceModel>
</configuration>